.component-button {
  display: inline-flex;
  width: 16.66%;
  flex: 1 0 auto;
}

.component-button.wide {
  width: 40%;
}

.component-button button {
  background-color: #e0e0e0;
  border: 0;
  font-size: 1.5rem;
  margin: 0 1px 0 0;
  flex: 1 0 auto;
  padding: 0;
}

.component-button:last-child button {
  margin-right: 0;
}

.component-button.orange button {
  background-color: #f5923e;
  color: white;
}

.component-button.service button {
  background-position-y: bottom;
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: 25%;
}

.component-button.go button {
  background-image: url("../services/go.svg");
}

.component-button.java button {
  background-image: url("../services/java.svg");
}

.component-button.kotlin button {
  background-image: url("../services/kotlin.svg");
}

.component-button.rust button {
  background-image: url("../services/rust.svg");
}

.component-button.csharp button {
  background-image: url("../services/csharp.svg");
}

.component-button.cpp button {
  background-image: url("../services/cpp.svg");
}

.component-button.php button {
  background-image: url("../services/php.svg");
}

.component-button.python button {
  background-image: url("../services/python.svg");
}

.component-button.node button {
  background-image: url("../services/javascript.svg");
}